language: go
go:
- stable

services: mysql

os: linux

before_install:
  - openssl aes-256-cbc -K $envkey -iv $enviv -in testdata/env.json.enc -out testdata/env.json -d
  - mysql -e 'CREATE DATABASE puretest;'

install:
  - go mod download

script:
  - go install github.com/golangci/golangci-lint/cmd/golangci-lint;
  - golangci-lint run;
  - go test -test.v=1 -mod=readonly -count 1 ./... ;
